In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#reading data
dataset= pd.read_csv("C:/Users/shudh/OneDrive/Desktop/ML_OPS/data/student_performance.csv", sep="\t")
dataset.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [3]:
dataset.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [ ]:
df=dataset
df.head()

In [5]:
train_df=pd.read_csv("C:/Users/shudh/OneDrive/Desktop/ML_OPS/data/processed/train.csv")
train_df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group D,master's degree,standard,none,62,70,75
1,female,group C,bachelor's degree,free/reduced,completed,66,83,83
2,female,group D,some college,free/reduced,none,79,89,86
3,male,group C,master's degree,free/reduced,none,61,67,66
4,male,group E,high school,standard,none,73,64,57

In [6]:
train_df.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [7]:
input_feature_train_df=train_df.drop(columns=["math score"], axis=1)
input_feature_train_df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,reading score,writing score
0,female,group D,master's degree,standard,none,70,75
1,female,group C,bachelor's degree,free/reduced,completed,83,83
2,female,group D,some college,free/reduced,none,89,86
3,male,group C,master's degree,free/reduced,none,67,66
4,male,group E,high school,standard,none,64,57

In [ ]:
#shape of the dataset
df.shape

In [ ]:
#data checks to perform

#missing values
#check duplicates
#check data types
#check the number of unqiue values of each column
#check statistics of dataset
#check various categories present in the diffrent categorical columns

In [ ]:
#missing values

df.isnull().sum()

In [ ]:
#check duplicates
df.duplicated().sum()

In [ ]:
#check datatypes
df.info()

In [ ]:
#check the number of unique values in each column
df.nunique()

In [ ]:
#check statistics of the data
df.describe()

In [ ]:
#define numerical_features and categorical_features

numerical_features = [feature for feature in df.columns if df[feature].dtype != 'O']
categorical_features=[feature for feature in df.columns if df[feature].dtype == 'O']

print(numerical_features)
print(categorical_features)

In [ ]:
#adding total marks and average marks

#feature engineering
df['total_score']= df['math score'] + df['reading score'] + df['writing score']
df['average_score']=df['total_score']/3

In [ ]:
df.head()

In [ ]:
df[df['math score'] == 100]

In [ ]:
df[df['math score'] == 100]['math score']

In [ ]:
# number of 100 scored in three columns
reading_full=df[df['reading score'] == 100]['average_score'].count()
writing_full=df[df['writing score'] == 100]['average_score'].count()
math_full=df[df['math score'] == 100]['average_score'].count()

print("reading full count",reading_full)
print("writing full count",writing_full)
print("math full count",math_full)

In [ ]:
#number of students who scored less than 20 in three columns
reading_less_20 = df[df['reading score'] <= 20]['reading score'].count()
writing_less_20 = df[df['writing score'] <= 20]['writing score'].count()
math_less_20 = df[df['math score'] <=20]['math score'].count()

print("students score less than 20 in reading", reading_less_20)
print("students score less than 20 in writing", writing_less_20)
print("students score less than 20 in math", math_less_20)

In [ ]:
#insighs

#best performance in reading
#worst performance in maths

In [ ]:
sns.histplot(data=df, x="average_score", bins=30, hue='gender', kde=True)

In [ ]:
#from above histogram, female tend to perform bettter than male students